body {
  margin: 0 auto;
  padding-top: 5rem;
  font-family: "Lexend", sans-serif;
  max-width: 302px;
}

.label {
  color: #5f9341;
  font-weight: 400;
  font-size: 3rem !important;
  display: block;
  padding-bottom: 1rem;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #5f9341;
  margin-bottom: 1rem;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}
input:focus-within {
  outline: 0;
}
input:hover,
input:focus {
  border-color: #000;
}

button {
  background: #5f9341;
  color: white;
  padding: 10px 20px;
  border: 1px solid #5f9341;
  font-family: "Lexend", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background-color: #000;
  border-color: #000;
}
#delete-btn {
  background: white;
  color: #5f9341;
}

ul {
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
}

li {
  margin-top: 5px;
}

a {
  color: #5f9341;
  font-weight: 400;
  display: block;
  margin-bottom: 0.5rem;
}
